header.header 
	.header__container.container 
		.logo 
			img(src="images/logo.svg", alt="alt")
		nav.menu
			ul.menu__list
				li.menu__item 
					a.menu__link(href="#") Описание
				li.menu__item 
					a.menu__link(href="#") Получить
				li.menu__item 
					a.menu__link(href="#") Калькулятор
				li.menu__item 
					a.menu__link(href="#") Партнеры
				li.menu__item 
					a.menu__link(href="#") Карта
		select.header__lang 
			option RU
			option EN